<!DOCTYPE html>
<html>
  <head>
    <title>SaraProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'home/nav'%>

    <div class="container">
      <p class="notice alert-info"><%= notice %></p>
      <% if flash[:alert] %>
        <p class="alert alert-warning"><%= alert %></p>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
